<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andres.proyectofinal">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cubo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PrincipalActivity" />
        <activity android:name=".UserListActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".CalculadoraActivity" />
        <activity android:name=".MusicaActivity" />
        <activity android:name=".MemoryRankingActivity" />
        <activity android:name=".PerfilActivity" />
        <activity android:name=".CambiarContrasenaActivity" />
        <activity android:name=".LocalizacionActivity" />
        <service android:name=".ServiceMediaplayer">
            <intent-filter>
                <action android:name="BOUNDSERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>
